<!DOCTYPE html>

<head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tortplayer</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/ads.css" />


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <link href="//vjs.zencdn.net/6.6.3/video-js.min.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/6.6.3/video.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.min.js"></script>

    {{!-- <link href="https://vjs.zencdn.net/7.5.4/video-js.css" rel="stylesheet"> --}}
    {{!-- <script src='https://vjs.zencdn.net/7.5.4/video.js'></script> --}}
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    {{!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> --}}

    {{!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-ads/6.6.4/videojs-contrib-ads.css"
        rel="stylesheet"> --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-ads/6.6.4/videojs-contrib-ads.min.js"></script> --}}

    {{!-- <script src="/js/ad-plugin.js"></script> --}}

    <link rel="stylesheet" href="/css/main.css" />
    {{!-- <script src="/js/main.js"></script> --}}

    <script type="text/javascript" src="https://r.sascdn.com/video/config.js?nwid=991"></script>
    <script type="text/javascript" src="https://r.sascdn.com/video/controller.js?nwid=991"></script>
    <script type="application/javascript" src="https://ced.sascdn.com/tag/991/smart.js"></script>
    <script type="application/javascript">
        var sas = sas || {};
        sas.cmd = sas.cmd || [];

        sas.cmd.push(function () {
            sas.setup({ networkid: 991, domain: "https://www3.smartadserver.com", async: false });
        });

    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 144856,
        pageId: 766108,
        formatId: 22094,
        target: ''
      });
    });
    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 144856,
        pageId: 766108,
        formatId: '22093',
        target: ''
      });
    });


    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 241263,
        pageId: 946377,
        formatId: '25042',
        target: ''
      });
    });

    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 241263,
        pageId: 946377,
        formatId: '22205',
        target: ''
      });
    });

    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 241263,
        pageId: 946377,
        formatId: '39852',
        target: ''
      });
    });
    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 271681,               // 
        pageId: 1016920,             // Página : Gol_Deporte/ros
        formatId: 39857,  // Formato : Megabanner4 990x50
        target: ''              // Segmentación
      });
    });

    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 271681,               // 
        pageId: 1016920,             // Página : Gol_Deporte/ros
        formatId: 22205,  // Formato : DHTML 0x0
        target: ''              // Segmentación
      });
    });

    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 271681,               // 
        pageId: 1016920,             // Página : Gol_Deporte/ros
        formatId: 71380,  // Formato : DHTML M+ 0x0
        target: ''              // Segmentación
      });
    });
      sas.cmd.push(function () {
        sas.call("onecall", {
          siteId: 271681,               // 
          pageId: 1016920,             // Página : Gol_Deporte/ros
          formatId: 33209,  // Formato : DHTML M+ 0x0
          target: ''              // Segmentación
        });
      });

    sas.cmd.push(function () {
      sas.call("onecall", {
        siteId: 241263,
        pageId: 946377,
        formatId: 33209,
        target: ''
      });
    });


        console.log('sas1');
        console.log(sas);
    </script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <p>Nusenuse</p>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/player">Player</a></li>
                    <li><a href="/gestor">Gestor</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <main class="main">
        <div class="container">
            {{{body}}}
        </div>
    </main>
</body>

</html>