<div style="text-align: center;">
    <iframe src="/player?hideNav=true" style="margin: 0 auto; width: 600px; height: 305px;"></iframe>
</div>
<div>
    <button id="addAd" type="button" class="btn btn-primary">Añadir anuncio</button>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>H.Inicio UTC</th>
            <th>H.Inicio España</th>
            <th>H.Fin UTC</th>
            <th>H.Fin España</th>
            <th>Tipo anuncio</th>
            <th>Visualización</th>
            <th>Delay</th>
            <th>Activo</th>
            <th>Video</th>
            <th>Codec</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each ads}}
        {{#ifCond this.activo '==' '1'}}
        <tr class="success">
            {{else}}
        <tr>
            {{/ifCond}}
            <th scope="row">{{this.id}}</th>
            <td>{{formatUTC this.hora_inicio}}</td>
            <td>{{formatDateToTZ this.hora_inicio 'Europe/Madrid'}}</td>
            <td>{{formatUTC this.hora_fin}}</td>
            <td>{{formatDateToTZ this.hora_fin 'Europe/Madrid'}}</td>
            <td>{{this.tipo_anuncio}}</td>
            <td>{{this.mostrar}}</td>
            <td>{{this.delay}}</td>
            <td>{{this.activo}}</td>
            <td class="src-video">{{this.src}}</td>
            <td>{{this.type}}</td>
            <td><button type="button" class="btn btn-warning editar">Editar</button></td>
            <td><button type="button" class="btn btn-danger eliminar">Eliminar</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="modal fade" id="updateAdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Actualizar anuncio</h4>
            </div>
            <form id="updateAd" name="updateAd" action="/update/ad" method="POST">
                <div class="modal-body">
                    <input type="hidden" id="up_id" type='text' />
                    <div class="form-group">
                        <label for="up_tipo_anuncio">Tipo anuncio</label>
                        <select id="up_tipo_anuncio" class="form-control" required>
                            <option disabled selected>Selecciona...</option>
                            <option value="preroll">Preroll</option>
                            <option value="midroll">Midroll</option>
                            <option value="postroll">Postroll</option>
                            <option value="forced">Forced/YA</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="up_mostrar">Forma visualización</label>
                        <select id="up_mostrar" class="form-control" required>
                            <option value="one-time" selected>one-time</option>
                            <option value="repeat">repeat</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="up_hora_inicio">Hora inicio (España)</label>
                        <div class='input-group date' id='up_hora_inicio'>
                            <input type='text' class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="up_hora_fin">Hora fin (España)</label>
                        <div class='input-group date' id='up_hora_fin'>
                            <input type='text' class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="up_delay">Delay</label>
                        <input id="up_delay" type='number' class="form-control" value="0" required />
                    </div>
                    <div class="form-group">
                        <label for="mostrar">Video/MP4</label>
                        <input id="up_src" type='text' class="form-control" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="up_activo">Activo</label>
                        <select id="up_activo" class="form-control" required>
                            <option value="0" selected>No</option>
                            <option value="1">Sí</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="up_save" type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newAdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Crear anuncio</h4>
            </div>
            <form id="newAd" name="newAd" action="/ads" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tipo_anuncio">Tipo anuncio</label>
                        <select id="tipo_anuncio" class="form-control" required>
                            <option disabled selected>Selecciona...</option>
                            <option value="preroll">Preroll</option>
                            <option value="midroll">Midroll</option>
                            <option value="postroll">Postroll</option>
                            <option value="forced">Forced/YA</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="mostrar">Forma visualización</label>
                        <select id="mostrar" class="form-control" required>
                            <option value="one-time" selected>one-time</option>
                            <option value="repeat">repeat</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hora_inicio">Hora inicio (España)</label>
                        <div class='input-group date' id='hora_inicio'>
                            <input type='text' class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hora_fin">Hora fin (España)</label>
                        <div class='input-group date' id='hora_fin'>
                            <input type='text' class="form-control" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="delay">Delay</label>
                        <input id="delay" type='number' class="form-control" value="0" required />
                    </div>
                    <div class="form-group">
                        <label for="mostrar">Video/MP4</label>
                        <input id="src" type='text' class="form-control" value="" required />
                    </div>
                    <div class="form-group">
                        <label for="activo">Activo</label>
                        <select id="activo" class="form-control" required>
                            <option value="0" selected>No</option>
                            <option value="1">Sí</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save" type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Vídeo</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var clearFields = function () {
            $('#tipo_anuncio, #up_tipo_anuncio').val('preroll');
            $('#mostrar, #up_mostrar').val('one-time');
            $('#hora_inicio, #up_hora_inicio').val('');
            $('#hora_fin, #up_hora_fin').val('');
            $('#delay, #up_delay').val('0');
            $('#src, #up_src').val('');
            $('#activo, #up_activo').val('0');
        }

        var updateTable = function () {
            $.ajax({
                type: "GET",
                url: '/gestor?json=true',
                success: function (ads) {
                    var html = '';
                    for (var i = 0; i < ads.length; i++) {
                        var element = ads[i];
                        html += (element.activo == '1') ? '<tr class="success">' : '<tr>';
                        html += '<th scope="row">' + element.id + '</th>';
                        html += '<td>' + moment.utc(element.hora_inicio).format('DD/MM/YYYY HH:mm:ss') + '</td>';
                        html += '<td>' + moment.utc(element.hora_inicio).tz('Europe/Madrid').format('DD/MM/YYYY HH:mm:ss') + '</td>';
                        html += '<td>' + moment.utc(element.hora_fin).format('DD/MM/YYYY HH:mm:ss') + '</td>';
                        html += '<td>' + moment.utc(element.hora_fin).tz('Europe/Madrid').format('DD/MM/YYYY HH:mm:ss') + '</td>';
                        html += '<td>' + element.tipo_anuncio + '</td>';
                        html += '<td>' + element.mostrar + '</td>';
                        html += '<td>' + element.delay + '</td>';
                        html += '<td>' + element.activo + '</td>';
                        html += '<td class="src-video">' + element.src + '</td>';
                        html += '<td>' + element.type + '</td>';
                        html += '<td><button type="button" class="btn btn-warning editar">Editar</button></td>';
                        html += '<td><button type="button" class="btn btn-danger eliminar">Eliminar</button></td>';
                        html += '</tr>';
                    }
                    $('table tbody').html(html);
                }
            });
        }

        var player;
        $('table').on('click', 'td.src-video', function (e) {
            e.preventDefault();
            var urlVideo = $(this).text();
            var videoModal = $('#videoModal');

            if (player) player.dispose();

            videoModal.find('.modal-body').html('<video-js muted id=vid1 class="vjs-default-skin vjs-16-9" controls > <source src="' + urlVideo + '" type="video/mp4"> </video-js>');
            player = videojs('vid1');
            videoModal.modal('show');
        });

        $('#addAd').on('click', function (e) {
            e.preventDefault();
            $('#newAdModal').modal('show');
        });

        $('tbody').on('click', '.editar', function (e) {
            e.preventDefault();
            var idToEdit = $(this).closest('tr').find('th')[0].innerHTML;
            var adToEdit = $(this).closest('tr').find('td');

            if (idToEdit) {
                $('#up_id').val(idToEdit);

                $('#up_tipo_anuncio').val($(this).closest('tr').find('td')[4].innerHTML);
                $('#up_mostrar').val($(this).closest('tr').find('td')[5].innerHTML);

                $('#up_hora_inicio').data("DateTimePicker").date($(this).closest('tr').find('td')[1].innerHTML);
                $('#up_hora_fin').data("DateTimePicker").date($(this).closest('tr').find('td')[3].innerHTML);

                $('#up_delay').val($(this).closest('tr').find('td')[6].innerHTML);
                $('#up_src').val($(this).closest('tr').find('td')[8].innerHTML);
                $('#up_activo').val($(this).closest('tr').find('td')[7].innerHTML);

                $('#updateAdModal').modal('show');
            }
        });

        $("form[name='updateAd']").validate({
            debug: false,
            lang: 'es',
            focusCleanup: false,
            //errorClass: "danger",
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            rules: {
                delay: 'required'
            },
            submitHandler: function (form, event) {
                event.preventDefault();
                {{!--
                var inicioToParse = $('#up_hora_inicio').data("DateTimePicker").date()._i;
                var inicioFormat = $('#up_hora_inicio').data("DateTimePicker").date()._f;
                var inicioParsed = moment(inicioToParse, inicioFormat).utc().format();
 
                var finToParse = $('#up_hora_fin').data("DateTimePicker").date()._i;
                var finFormat = $('#up_hora_fin').data("DateTimePicker").date()._f;
                var finParsed = moment(finToParse, finFormat).utc().format(); 
                --}}

                var inicioToParse = $('#up_hora_inicio').data("DateTimePicker").date()._d;
                var inicioParsed = moment(inicioToParse).utc().format();

                var finToParse = $('#up_hora_fin').data("DateTimePicker").date()._d;
                var finParsed = moment(finToParse).utc().format();

                var json = {
                    id: $('#up_id').val(),
                    tipo_anuncio: $('#up_tipo_anuncio').val(),
                    mostrar: $('#up_mostrar').val(),
                    hora_inicio: inicioParsed,
                    hora_fin: finParsed,
                    delay: $('#up_delay').val(),
                    activo: $('#up_activo').val(),
                    src: $('#up_src').val(),
                    type: 'video/mp4'
                };

                $.ajax({
                    type: "POST",
                    url: form.action,
                    cache: false,
                    data: JSON.stringify(json),
                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function () {
                        $('#up_save').prop("disabled", true);
                    },
                    success: function (response) {
                        $('#up_save').prop("disabled", false);
                        if (response.success) {
                            clearFields();
                            updateTable();
                            $('#updateAdModal').modal('hide');
                        } else {
                            alert(JSON.stringify(response.error));
                        }
                    },
                    error: function (error) {
                        $('#up_save').prop("disabled", false);
                        alert(JSON.stringify(error));
                    }
                });
            }
        });

        $('tbody').on('click', '.eliminar', function (e) {
            e.preventDefault();
            var idToRemove = $(this).closest('tr').find('th')[0].innerHTML;
            console.log(idToRemove);
            if (idToRemove) {
                $.ajax({
                    type: "GET",
                    url: '/delete/ad/' + idToRemove,
                    cache: false,
                    success: function (response) {
                        console.log('response')
                        console.log(response)
                        if (response.success) {
                            alert('Eliminado');
                            updateTable();
                        } else {
                            alert(JSON.stringify(response.error));
                        }
                    },
                    error: function (error) {
                        alert(JSON.stringify(error));
                    }
                });
            }
        });

        $('#tipo_anuncio').change(function () {
            var adType = this.value;

            $('#mostrar').attr('disabled', false);
            $('#delay').attr('disabled', false);

            if (adType === 'preroll') {
                $('#mostrar').val('one-time');
                $('#mostrar').attr('disabled', true);

                $('#delay').val(0);
                $('#delay').attr('disabled', true);
            }
            else if (adType === 'postroll') {
                $('#mostrar').val('one-time');
                $('#mostrar').attr('disabled', true);

                $('#delay').val(0);
                $('#delay').attr('disabled', true);
            }
            else if (adType === 'forced') {
                $('#mostrar').val('one-time');
                $('#mostrar').attr('disabled', true);

                $('#delay').val(0);
                $('#delay').attr('disabled', true);

                var now = moment().format('DD/MM/YYYY HH:mm:00');
                var end = moment().add(1, 'minutes').format('DD/MM/YYYY HH:mm:00');

                $('#hora_inicio').data("DateTimePicker").date(now);
                $('#hora_fin').data("DateTimePicker").date(end);
            }
        });

        $('#hora_inicio, #hora_fin, #up_hora_inicio, #up_hora_fin').datetimepicker({
            locale: 'es',
            format: 'DD/MM/YYYY HH:mm:ss'
        });

        $("form[name='newAd']").validate({
            debug: false,
            lang: 'es',
            focusCleanup: false,
            //errorClass: "danger",
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            rules: {
                delay: 'required'
            },
            submitHandler: function (form, event) {
                event.preventDefault();
                
                var inicioToParse = $('#hora_inicio').data("DateTimePicker").date()._d;
                var inicioParsed = moment(inicioToParse).utc().format();

                var finToParse = $('#hora_fin').data("DateTimePicker").date()._d;
                var finParsed = moment(finToParse).utc().format();

                var json = {
                    tipo_anuncio: $('#tipo_anuncio').val(),
                    mostrar: $('#mostrar').val(),
                    hora_inicio: inicioParsed,
                    hora_fin: finParsed,
                    delay: $('#delay').val(),
                    activo: $('#activo').val(),
                    src: $('#src').val(),
                    type: 'video/mp4'
                };

                $.ajax({
                    type: "POST",
                    url: form.action,
                    cache: false,
                    data: JSON.stringify(json),
                    contentType: "application/json",
                    dataType: "json",
                    beforeSend: function () {
                        $('#save').prop("disabled", true);
                    },
                    success: function (response) {
                        $('#save').prop("disabled", false);
                        if (response.success) {
                            clearFields();
                            updateTable();
                            $('#newAdModal').modal('hide');
                        } else {
                            alert(JSON.stringify(response.error));
                        }
                    },
                    error: function (error) {
                        $('#save').prop("disabled", false);
                        alert(JSON.stringify(error));
                    }
                });
            }
        });
    });
</script>