<div class="wrapper">
    <div class="container">
        <form class="form" action="/auth/login" method="post">
            {{#if error}}
            <div class="box-error">
                You have entered an invalid username or password
            </div>
            {{/if}}
            <input type="text" name="email" placeholder="Email" value="{{email}}">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">Login</button>

        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>