<div id="videoPlayer">
    <video style="width: 100%; height: 100%;" class="video-js" id="test"></video>
</div>
<script>
    $(document).ready(function () {
        sas.video.register({
            id: 'videoPlayer',
            adData: {
                'sas_siteid': '271681',
                'sas_pageid': '1016920',
                'sas_target': '',
                'sas_format_linears': '50962',
                'sas_format_overlays': '50963'
/*                siteId:'241263',
                                               pageid:'946377',
                                               format_linears: '50962',
                                               format_overlays: '50963'*/
            },
            adRules: [{
                duration_min: 0,
                duration_max: -1,
                data: {
                    prerolls: {
                        instances: 2
                    }
                }
            }],
            configuration: {
                publisher: {
                    //forceSkipDelay: true,
                    html5SeamlessFullscreen: true,
                    //skipDelay: 3
                }
            },
            contentData: {
                sas_contentproviderid: null,
                sas_contentid: null
            },
            contentPlayer: {
                api: null
            },
            // language: "ES"
        });

        videojs('test', {
            //techOrder: this.techOrder,
            aspectRatio: '16:9',
            language: 'es',
            fluid: true,
            autoplay: true,
            controls: true,
            muted: false,
            xhrSetup: function (xhr, url) {
                xhr.withCredentials = true;
            },
            sources: [{
                src: 'https://api-cdn.overon.es/SmilLive/getLiveIOS/playlist.m3u8?hash=d42cf517e574d2610e20e9aa36f0848a&taker=01webgol&source=c0f4e15f46013aefc0bf596fb1834129&token=0984d019b307ee963b6b30f41cefce2f&expire=5d126a28',
                type: 'application/x-mpegURL'
            }],
            html5:{
                hlsjsConfig: {
                    "maxBufferSize": 0,
                    "maxBufferLength": 30,
                    "liveSyncDuration": 30
                },
                dnaConfig: {}
            } 
        });
    });
</script>