<div id="block-player">
</div>
<script>
    $(document).ready(function () {
        var ads = { 'preroll': [], 'midroll': [], 'postroll': [], 'forced': [] };
        var options = {{ json optionsPlayer }};
    $.ajax({
        url: "/ads",
    }).always(function (response) {
        // if (response.status === 200) ads = JSON.parse(response.responseText);
        ads = response;

        $.ajax(options)
            .done(function (data) {
                var urlManifest = data.message.success.manifest;

                $('#block-player').html(
                    '<video-js id="player" muted width=600 height=300 class="vjs-default-skin" controls> <source src="' + urlManifest + '" type="application/x-mpegURL"> </video-js>'
                );
                var player = videojs('player');

                    player.adService({
                        debug: true,
                        manifest: urlManifest,
                        contentIsLive: true,
                        liveCuePoints: false,
                        timeout: 3000,
                        adList: ads,
                        adServerUrl: '/ads',
                        intervalForceAds: true
                        //midrollPoint: 12 // segundos
                    });

                setTimeout(() => {
                    player.play()
                }, 200);
            });
    });
    });
</script>